[submodule "sourcedata/shinobi.fmriprep"]
	path = sourcedata/shinobi.fmriprep
	url = https://github.com/courtois-neuromod/shinobi.fmriprep
	datalad-id = 99a5a823-59ed-4f4e-9fbd-971bb5e7d1d5
	datalad-url = https://github.com/courtois-neuromod/shinobi.fmriprep
